:root {
    --headerHeight: 121px; 
}

body {
	top: 0;
	left: 0;
	font-family: 'Open Sans Light', sans-serif;
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
}

#errorOutput p { 
    color: red;
}

tr p {
	margin: 0px;
}

#headerWrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: var(--headerHeight); 
	background-color: #808080;
    z-index:3;
}

#currentWeekDisplayTable {
	padding-top: 10px;
    z-index:3;
}
#currentWeekBox {
	font-size: 2em;
    z-index:3;
}

.headerTable {
	width: 100%;
	table-layout: fixed;
    z-index:3;
}

.headerTableColumn {
	width: 100%;
	height: 50px;
	color: #bfbfbf;
	font-weight:100;
	position:relative;
	text-align: center;
    z-index:2;
}

.activeHeaderColumn {
	color: #ffffff;
}

.matchupTotalScore {
	font-size: 2em;
}

.leftAlignTableCell {
	text-align: left;
}

.rightAlignTableCell {
	text-align: right;
}

.matchupTableList {
	margin-top: 25px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
  top: 0px;
  margin: 0 auto;
  position: relative;  
  box-shadow: 0px 5px 5px -5px white
}

.hidden-arrow {
	border-bottom: 15px solid #808080;
    z-index:10;
}

#welcomeBox {
	font-size: 2em;
	color: #ffffff;
	text-align: left;
	padding-left: 20px;
}

#logout {
	width: 70px;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
	background-color: #808080;
	text-color: ;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #4169E1;
  text-align: center;
  line-height: 70px;
  color: #ffffff;
  list-style-type:none;
}

#weekScrollContainer {
  width: 70px;
  height: 560px;
  background-color: transparent;
  display: none;
  z-index: 90;
}

#scrollable {
  width: 70px;
  height: 560px;
  background-color: transparent;
  overflow: scroll;
}

#scrollable * {
	font-size: 2em;
}

.fixedPosition {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

#weekSelectBackground {
	position: absolute;
	width: 70px;
	height: 490px;
	bottom: 35px;
	background-color: #4169E1;
	vertical-align: bottom;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.weekSelectCircle {
	position: relative !important;
	background-color: transparent;
}

#currentWeekCircle {
	background-color: #4169E1;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
	z-index:9;
	height: 70px;
	font-size: 2em;
	line-height: 60px;
	text-align: center;
	padding-top: 12px;
}

#weekLabel {
	position: fixed;
	width: 70px;
	height: 15px;
	bottom: 61px;
	right: 30px;
	text-align: center;
	color: #ffffff;
	z-index:10;
	display:block;
	font-size: 0.7em;
}

#accountAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #7B68EE;
	position: absolute;
	right: 20px;
	top: 0px;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	font-size: 1.2em;
}

#expandedTeamNameCircle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #7B68EE;
	position: fixed;
	right: 20px;
	top: 20px;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	font-size: 1.2em;
}

#expandedTeamNameBackground {
	width: 130px;
	height: 50px;
	background-color: #7B68EE;
	position: fixed;
	right: 45px;
	top: 20px;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	font-size: 1.2em;
}

#accountMenu {
	width: 200px;
	height: 100px;
	border-radius: 25px;
	background-color: #707070;
	top: 10px;
	right: 10px;
	position: fixed;
	z-index: 999;
	display: none;
}

.accountMenuRow {
	width: 200px;
	height: 50px;
	padding: 0px 20px 0px 10px;
	line-height: 50px;
	text-align: right;
	color: #A0A0A0;
	font-size: 1.5em;
}

#avatarRow {
	border-bottom: 1px solid gray;
}

#logoutRow {
	color: #A0A0A0;
	font-size: 1.5em;
}

a, a:hover {
	text-decoration: none;
	color: #ffffff;
}