:root {
    --headerHeight: 121px; 
}

body {
	top: 0;
	left: 0;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-weight: 300;
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
}

#errorOutput p { 
    color: red;
}

tr p {
	margin: 0px;
}

.skipHeader {
	width: 100%;
	height: var(--headerHeight); 
}

#headerWrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: var(--headerHeight); 
	background-color: #F7882F;
    z-index:3;
	/*box-shadow: 1px 1px 1px #A0A0A0;*/
}

#currentWeekDisplayTable {
	padding-top: 10px;
    z-index:3;
}
#currentWeekBox {
	font-size: 2em;
    z-index:3;
}

.headerTable {
	width: 100%;
	max-width: 600px;
	table-layout: fixed;
    z-index:3;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.headerTableColumn {
	width: 100%;
	height: 50px;
	color: rgba(255, 255, 255, 0.5);
	font-weight:100;
	position:relative;
	text-align: center;
    z-index:2;
	cursor: pointer;
}

.activeHeaderColumn {
	color: #ffffff;
}

.matchupTotalScore {
	font-size: 2em;
}

.leftAlignTableCell {
	text-align: left;
}

.rightAlignTableCell {
	text-align: right;
}

.matchupTableList {
	margin-top: 25px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #ffffff;
  top: 0px;
  margin: 0 auto;
  position: relative;  
  box-shadow: 0px 5px 5px -5px white
}

.hidden-arrow {
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
	border-bottom: 18px solid transparent;
    z-index:10;
}

#welcomeBox {
	font-size: 2em;
	color: #ffffff;
	text-align: left;
	padding-left: 20px;
}

#logout {
	width: 70px;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
	background-color: #EA6C24;
	text-color: ;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FAA969;
  text-align: center;
  line-height: 70px;
  color: #ffffff;
  list-style-type:none;
}

#weekScrollContainer {
  width: 70px;
  height: 490px;
  background-color: transparent;
  display: none;
  z-index: 90;
}

#scrollable {
  width: 70px;
  height: 490px;
  background-color: transparent;
  overflow: scroll;
}

#scrollable * {
	font-size: 2em;
}

/*
.fixedPosition {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
*/

@media screen and (min-width: 600px) {
  .fixedPosition {
	  position: fixed;
	  bottom: 30px;
	  right: calc(30px + (100% - 600px)/2);
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .fixedPosition {
	  position: fixed;
	  bottom: 30px;
	  right: 30px;
  }
}









#weekSelectBackground {
	position: absolute;
	width: 70px;
	height: 420px;
	bottom: 35px;
	background-color: #FAA969;
	vertical-align: bottom;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.weekSelectCircle {
	position: relative !important;
	background-color: transparent;
	cursor: pointer;
}

#currentWeekCircle {
	background-color: #F7882F;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
	z-index:9;
	height: 70px;
	font-size: 2em;
	line-height: 60px;
	text-align: center;
	padding-top: 12px;
}

#weekLabel {
	position: fixed;
	width: 70px;
	height: 15px;
	bottom: 61px;
	right: 30px;
	text-align: center;
	color: #ffffff;
	z-index:10;
	display:block;
	font-size: 0.7em;
}

@media screen and (min-width: 600px) {
  #weekLabel {
	  right: calc(30px + (100% - 600px)/2);
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  #weekLabel {
	  right: 30px;
  }
}

#weekLabel {
	
}

#accountAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #496585;
	position: absolute;
	right: 20px;
	top: 0px;
	color: #ffffff;
	line-height: 47px;
	text-align: center;
	font-size: 1.2em;
}

#expandedTeamNameCircle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #496585;
	position: fixed;
	right: 20px;
	top: 20px;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	font-size: 1.2em;
}

#expandedTeamNameBackground {
	width: 130px;
	height: 50px;
	background-color: #496585;
	position: fixed;
	right: 45px;
	top: 20px;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	font-size: 1.2em;
}

#accountMenu {
	width: 200px;
	height: 100px;
	border-radius: 6px;
	background-color: transparent;
	top: 75px;
	position: fixed;
	z-index: 990;
	display: none;
}

@media screen and (min-width: 600px) {
  #accountMenu {
	  right: calc(20px + (100% - 600px)/2);
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  #accountMenu {
	  right: 20px;
  }
}

#accountArrow {
	float: right;
	margin-right: 15px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #ffffff;
}


.accountMenuRowTop {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #496585;
	font-size: 1.3em;
	float:right;
	background-color: #ffffff;
	border-radius: 6px 6px 0px 0px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.accountMenuRowBottom {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #496585;
	font-size: 1.3em;
	float:right;
	background-color: #ffffff;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

#avatarRow {
	border-bottom: 1px solid #ffffff;
}

a, a:hover {
	text-decoration: none;
	color: #ffffff;
}

#unclickable {
	width: 100%;
	height: 100vh;
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 89;
	display: none;
	opacity: 0.4;
}

#content {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	overflow: scroll;
}

.center {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

#leaveRoomForHeader {
	height: calc(var(--headerHeight) + 10px); 
}

.flexCard {
	margin: 0px 10px 20px 10px; 
	padding: 10px; 
	border: 1px solid #F3F3F3;
	border-radius: 6px;
	box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.05);
}

#aroundTheLeagueTable {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

#aroundTheLeague {
	color: #F7882F;
	font-size: 1em;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 7px;
}

.stickyBufferSpace {
	width: 100%;
	height: 10px;
	max-width: 600px;
	margin: 0 auto;
	z-index: 3;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: var(--headerHeight);
	background-color: #FFFFFF;
}

.filters {
	width: 100%;
	max-width: 445px;
	margin: 0 auto;
	z-index: 3;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: calc(var(--headerHeight) + 10px);
	background-color: #FFFFFF;
    /*box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);*/
}

.rotated {
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}