.position {
	color: #bfbfbf;
	font-size: 0.8em;
	text-align: center;
	padding: 0px 5px;
	line-height: 20px;
	vertical-align: center;
}

.homeSide {
	text-align: right;
}

.chosenPosition {
	color: #4D4D4D;
	padding: 0px 5px;
}

.matchupHeading {
	text-align: center;
	color: #353535;
}

.matchupHeadingTeamName {
	padding-bottom: 15px;
}

#myTeamMatchupTable {
	padding-bottom: 30px;
	margin: 0 auto;
}

#hiddenMatchupsTable, #flexCardContainer {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

.flexCard {
	margin: 0px 10px 20px 10px; 
	padding: 10px; 
	border: 1px solid #A0A0A0;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#matchupCard {
	max-width: 600px;
}

.centerTable {
	margin: 0 auto;
}

.fullWidth {
	width: 100%;
}

.noStyle {
	padding: 0px;
	border: 0px;
	background-color: #FFFFFF;
}