.myTeamTableHeader {
	position: relative;
	margin: 0 auto;
	font-weight:100;
	height:30px;
	line-height:30px;
	color:#808080;
	border-bottom: 1px solid #ddd;
	z-index:-1;
	width:100%;
	text-align: left;
}

#myTeamTable {
	width:100%;
	max-width: 600px;
	table-layout: fixed;	
	border-bottom: 1px solid #ddd;
	z-index:-1;
}

.myTeamTableRow {
	position: relative;
	margin: 0 auto;
	font-weight:100;
	height:50px;
	line-height:50px;
	color:#A0A0A0;
	border-bottom: 1px solid #ddd;
	text-align: center;

}

.myTeamTableRowLong {
	position: relative;
	margin: 0 auto;
	font-weight:100;
	height:50px;
	line-height:50px;
	color:#A0A0A0;
	border-bottom: 1px solid #ddd;
	text-align: left;

}