.standingsTableHeader {
	position: relative;
	margin: 0 auto;
	font-weight:100;
	height:30px;
	line-height:30px;
	color: #496585;
	border-bottom: 1px solid rgb(221,221,221,0.5);
	z-index:-1;
	text-align: left;
	font-size: 0.9em;
}

.standingsTableRow {
	position: relative;
	margin: 0 auto;
	font-weight:100;
	height:50px;
	line-height:50px;
	color:#A0A0A0;
	border-bottom: 1px solid rgb(221,221,221,0.25);
	text-align: left;
	z-index:-1;
	padding-left: 10px;
}

#standingsTable, #standingsTable2 {
	/*width:600px;*/
	table-layout: fixed;	
	border-bottom: 1px solid rgb(221,221,221,0.25);
	z-index:-1;
}

.currentTeam {
	color: #496585;
}

.test {
	color: #ffffff;
	  padding: 8px 8px 8px 16px;
	  border: 1px solid transparent;
	  border-color: transparent;
	  cursor: pointer;
	  user-select: none;
	  font-size: 0.9em;
	  text-align: left;
	  font-weight: 300;
}

#playersTableWindow, #standingsTableWindow, #standingsTableWindow2 {
	width: 100%;
	max-width: 600px;
	overflow: scroll;
	margin: 0 auto;
}

#sticky, #stickyDivision2, #stickyRank, #stickyDivision2Rank, #sticky2, #sticky2Division2, #sticky2Rank, #sticky2Division2Rank, .stickyColumn, .stickyColumnRank, .stickyColumnDivision2, .stickyColumnDivision2Rank {
    display: table-cell;
}

#sticky.fixed, #stickyDivision2.fixed, .stickyColumn.fixed, .stickyColumnDivision2.fixed {
    position: sticky;
	left: 40px;
	background-color: #ffffff;
	border-right: 1px solid #ddd;
}

#stickyRank.fixed, #stickyDivision2Rank.fixed, .stickyColumnRank.fixed, .stickyColumnDivision2Rank.fixed {
    position: sticky;
	left: 0;
	background-color: #ffffff;
}

#sticky.fixed:after, #stickyDivision2.fixed:after;{
    content:'';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    border-right: 1px solid #ddd;
	height: 29px;
}

#sticky2.fixed:after, #sticky2Division2.fixed:after {
    content:'';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    border-right: 1px solid #ddd;
	height: 50px;
}

.rankColumnHead {
	width: 30px;
}

.playerColumnHead {
	width: 110px;
}

.rankColumn {
	width: 20px;
}

.playerColumn {
	width: 100px;
}

.teamColumn {
	width: 70px; /*70 68 75 72*/
}

.oppColumn {
	width: 68px; /*70 68 75 72*/
}

.positionColumn {
	width: 75px; /*70 68 75 72*/
}

.pointsColumn {
	width: 72px; /*70 68 75 72*/
}

#bigContainer, #bigContainer2 {
	width: 445px;
	margin: 0 auto;
}

.divisionHeader {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.divisionTable {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.divisionRow {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	background-color: #FFA500;
	color: #ffffff;
	text-align: left;
	font-weight: 300;
	padding-left: 10px;
	position: relative;
}

.noDivisionsUsed {
	display: none;
}

.divFlag {
	display: none;
}
.divFlagTableCell {
	display: none;
}
.divFlagTable {
	display: none;
}

.positionFilterCell {
	width: 100%;
	color: #496585;
	font-weight:100;
	position:relative;
	text-align: center;
    z-index:2;
	cursor: pointer;
}

#enableFilterDropdown {
	width: 50px;
	float: left;
}

.filterIndicator {
	float: left;
	border: 1px solid #B8FEBF;
    border-radius: 4px;
    /*box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);*/
	background-color: #FFFFFF;
	width: 60px;
	text-align: left;
	padding-left: 5px;
	line-height: 30px;
	margin: 0px 2px;
}

.filterButton {
	border-color: #496585;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
	margin: 5px;
	padding: 10px;
	background-color: #B8FEBF;
}

.filterRows {
	display:none;
}

.removeFilterIndicator {
	width: 20px;
	text-align: center;
}

#filterExitButton {
	float: right; 
	width:30px;
	font-size: 1.5em;
}