.standingsTableHeader {
	position: relative;
	margin: 0 auto;
	font-weight:100;
	height:30px;
	line-height:30px;
	color:#F0965E;
	border-bottom: 1px solid rgb(221,221,221,0.5);
	z-index:-1;
	text-align: left;
	font-size: 0.9em;
}

.standingsTableRow {
	position: relative;
	margin: 0 auto;
	font-weight:100;
	height:50px;
	line-height:50px;
	color:#A0A0A0;
	border-bottom: 1px solid rgb(221,221,221,0.25);
	text-align: left;
	z-index:-1;
	padding-left: 10px;
}

#standingsTable, #standingsTable2 {
	/*width:600px;*/
	table-layout: fixed;	
	border-bottom: 1px solid rgb(221,221,221,0.25);
	z-index:-1;
}

.currentTeam {
	color: #F0965E;
}

.test {
	color: #ffffff;
	  padding: 8px 8px 8px 16px;
	  border: 1px solid transparent;
	  border-color: transparent;
	  cursor: pointer;
	  user-select: none;
	  font-size: 0.9em;
	  text-align: left;
	  font-weight: 300;
}

#standingsTableWindow, #standingsTableWindow2 {
	width: 100%;
	max-width: 500px;
	overflow: scroll;
	margin: 0 auto;
}

#sticky, #stickyDivision2, #stickyRank, #stickyDivision2Rank, #sticky2, #sticky2Division2, #sticky2Rank, #sticky2Division2Rank, .stickyColumn, .stickyColumnRank {
    display: table-cell;
	z-index: 30;
}

#sticky.fixed, #stickyDivision2.fixed, .stickyColumn.fixed {
    position: sticky;
	left: 60px;
	background-color: #ffffff;
	border-right: 1px solid #ddd;
}

#stickyRank.fixed, #stickyDivision2Rank.fixed, .stickyColumnRank.fixed {
    position: sticky;
	left: 0;
	background-color: #ffffff;
}

#sticky.fixed:after, #stickyDivision2.fixed:after;{
    content:'';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    border-right: 1px solid #ddd;
	height: 29px;
}

#sticky2.fixed:after, #sticky2Division2.fixed:after {
    content:'';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    border-right: 1px solid #ddd;
	height: 50px;
}

.rankColumn {
	width: 60px;
}

.teamColumn {
	width: 150px;
}

.otherColumn {
	width: 85px;
}

#bigContainer, #bigContainer2 {
	width: 550px;
}

.divisionHeader {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.divisionTable {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.divisionRow {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	background-color: #FFA500;
	color: #ffffff;
	text-align: left;
	font-weight: 300;
	padding-left: 10px;
	position: relative;
}